#about { 
background-color: #EAEAEA; 
background-image: url(images/radial_bg.png); 
background-position: center center; 
background-repeat: no-repeat; /* Safari 4-5, Chrome 1-9 */ 
/* Can't specify a percentage size? Laaaaaame. */ background: -webkit-gradient(radial, center center, 0, center center, 460, from(#C6C6C6), to(#2F2727)); 
/* Safari 5.1+, Chrome 10+ */ background: -webkit-radial-gradient(circle, #C6C6C6, #EAEAEA); 
/* Firefox 3.6+ */ background: -moz-radial-gradient(circle, #C6C6C6, #EAEAEA); 
/* IE 10 */ background: -ms-radial-gradient(circle, #C6C6C6, #EAEAEA); 
margin-bottom:50px;
height:580px;
}

#footer {
    position: fixed;
    bottom: 0;
    color:#fff;
    padding-top: 10px;
    background-color:#222;
    width: 100%;
    border-color: #000000;
    border-top:1px;
}